<!-- myapp/templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="home section" id="home">
    <div class="home__container container grid">
      <img src="{% static 'images/logo2.png' %}" alt="">

      <div class="home__data">
        <h1 class="home__title">E-commerce</h1>
        <p class="home__description">Elevate your shopping experience – where convenience meets style, and every click unveils a world of possibilities.</p>

        <a href="#services" class="button">Buy Now</a>
      </div>
    </div>
  </section>
{% endblock %}
